$color-midnight-green: #014E56;
$color-light-coral: #F67E7E;
$color-rapture-blue: #79C8C7;
$color-police-blue: #2C6269;
$color-deep-jungle-green: #004047;
$color-sacramento-state-green: #012F34;
$color-primary: #002529;
$font-primary: 'Livvic600', "Arial", sans-serif;
$font-Livvic500: 'Livvic500';
$font-Livvic500i: 'Livvic500i';
$font-Livvic600: 'Livvic600';
$font-Livvic700: 'Livvic700';
$font-Livvic700-italic: 'Livvic700i';